* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, #2b2828ee, #000000);
    color: #fff;
    font-family: Arial, sans-serif;
}

:root {
    --first-color: #1a1a1a;
    --second-color: #4d4d4d;
    --text-color: #fff;
    --main-color: #4CAF50;
    --hover-color: #45a049;
    --modal-bg: rgba(0, 0, 0, 0.4);
}

.cruds {
    width: 98%;
    margin: auto;
}

.header {
    font-size: 1.1rem;
    text-align: center;
    margin: 16px 0;
    color: var(--main-color);
}

.input,
.output {
    width: 100%;
    max-width: 700px;
    margin: 6px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}



input {
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 4px;
    padding: 4px 4px;
    outline: none;
    margin: 5px;
    background: rgb(49, 49, 49);
    color: var(--text-color);
    box-shadow: 0 0 4px var(--main-color);

}

input:hover {
    background: var(--first-color);
    color: var(--text-color);
    box-shadow: 0 1px 8px rgb(244, 247, 246);
}

.price {
    display: flex;
    width: 101%;
    justify-content: space-between;
}

.price input {
    width: 50%;
}

#total {
    background: #A52A2A;
    border-radius: 10px;
    padding: 6px 4px;
    margin-top: 5px;
    height: 2rem;
    width: 30%;
    text-align: left;
}

#total::before {
    content: 'Total:';
}

button {
    width: 100%;
    max-width: 200px;
    height: 2.5rem;
    margin-top: 12px;
    background: var(--main-color);
    color: var(--first-color);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid var(--second-color);
    border-radius: 18px;
    transition: 0.4s;
    outline: none;
}

button:hover {
    background: var(--first-color);
    letter-spacing: 1px;
    color: var(--main-color);
    border: 3px solid var(--main-color);
}

.sreachBtn {
    text-align: center;
}

.sreachBtn button {
    width: 40%;
    margin: 4px;
}

#deleteAllData {
    margin: .5rem;
    text-align: center;
}

table {
    width: 100%;
    margin: 1.2rem 0;
    text-align: center;
    color: #fff;
    border-collapse: collapse;
}

/* border for table */
table,
th,
td {
    border: 1px solid var(--second-color);
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* Model styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--modal-bg);
    color: #000000;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 14px;
    border: 1px solid #888;
    width: 90%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
}

.modal-content button {
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--main-color);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: var(--hover-color);
}

.modal-content #confirmNo {
    background-color: #f44336;
}

.modal-content #confirmNo:hover {
    background-color: #e53935;
}

@media screen and (max-width: 545px) {
    .header {
        font-size: .7rem;
    }

    .sreachBtn button {
        width: 44%;
    }

    button {
        font-size: .9rem;
    }

    #thead th {
        font-size: .9rem;
    }

    .input,
    .output {
        max-width: 360px;
    }
}